<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <title>Your Portfolio</title>
    <style>
      /* Additional custom styles can be added here */
    </style>
  </head>

  <body>
    <div id="app">
    <!-- Navbar -->
    <nav class="p-4 text-black" style="background-color: #F1F5FF">
      <div class="flex items-center justify-between lg:mx-10 lg:mt-10">
        <div>
          <img src="./Goldappel Design Logo.png" alt="Your Logo" class="lg:h-12 h-8">
        </div>
        <div class='wrap'>
          <div class='fill-wrap'>
            <a href='home.html' class='md:p-4 p-2 md:text-2xl md:font-semibold'>HOME</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="p-20">
      <img src="STUDIO.jpeg" alt="bia" class="w-full">
      <div class="flex flex-row justify-between">
        <h1 class="md:text-2xl my-10">UDO Health</h1>
        <h2 class="md:text-2xl my-10 text-gray-500">App Design</h2>
      </div>
      <p>In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
        approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
        mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
        scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
    </section>

    <!-- Project Showcase Section -->
    <section class="px-20" id="project-showcase-section">

      <div class="pt-20 scrollbar-hide scroll-container md:flex">

        <div class="md:mr-20 mb-20 horizontal-scroll inline-block first">
          <img src="BIKE.webp" alt="bia" class="mb-20 project-image-udo">
          <p class="whitespace-normal">In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
            approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
            mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
            scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
        </div>
        <div class="md:mr-20 mb-20 horizontal-scroll inline-block second">
          <img src="ART.webp" alt="bia" class="mb-20 project-image-udo">
          <p class="whitespace-normal">In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
            approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
            mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
            scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
        </div>
        <div class="md:mr-20 mb-20 horizontal-scroll inline-block third">
          <img src="GRAIN.jpeg" alt="bia" class="mb-20 project-image-udo">
          <p class="whitespace-normal">In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
            approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
            mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
            scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
        </div>
        <div class="horizontal-scroll inline-block last">
          <img src="GRAIN.jpeg" alt="bia" class="mb-20 project-image-udo">
          <p class="whitespace-normal">In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
            approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
            mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
            scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
        </div>
      </div>

    </section>

    <!-- Prototype Section -->
    <section class="p-20">
      <h2 class="md:text-2xl my-10">The Protoype</h2>
      <div class="relative w-full" style="height: 80vh; width: 70vw">
        <img v-if="!showVideo" src="GRAIN.jpeg" alt="bia" class="w-full absolute top-0 left-0" @click="playVideo">
        <iframe v-if="showVideo" :src="videoUrl" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen class="figma my-10" style="height: full; width: full">
        </iframe>
      </div>
      <p class="w-full inline-block">In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
        approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
        mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
        scholarship at the Future Health Care Accelerator of BIA Berlin. <br><br> In the summer of 2022 I just graduated from LeWagon Bootcamp in Berlin, Germany, when one of my former classmates
        approached me with an interesting proposition: to join him on a team of three Co-Founders with the goal of developing a
        mobile application in the Health Care Sector. With an outline of the project we got accepted to receive a 6-month
        scholarship at the Future Health Care Accelerator of BIA Berlin. </p>
    </section>

    <!-- Social Media and Contact Section -->
    <section class="py-20 px-4 flex flex-col items-center overflow-hidden justify-center" style="background-color: #F1F5FF">
      <div class="flex justify-center mt-32">
        <a href="https://figma.com" class="m-4 text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-figma self-center text-sm"></i>
        </a>
        <a href="https://dribbble.com" class="m-4 text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-dribbble self-center text-sm"></i>
        </a>
        <a href="https://github.com" class="m-4 text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-github self-center text-sm"></i>
        </a>
      </div>
      <p class="text-4xl md:text-6xl text-center my-16 z-10 font-light">Looking for a Web Developer?</p>
      <div class='wrap'>
        <div class='fill-wrap'>
          <a href='#' class='btn btn-desert btn-b-t lg:text-4xl md:p-4 rounded-full'>GET IN TOUCH</a>
        </div>
      </div>
      <div class="hire-me">
        <p class="font-semibold">HIRE ME</h1>
      </div>
    </section>


  <!-- Add the necessary script tag to include Tailwind CSS and any additional JavaScript libraries you plan to use -->
      <!-- Vue content will be rendered here -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue@3.2.21/dist/vue.global.js"></script>
    <script src="app.js" defer></script>

  </body>

</html>
