<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/cool_julius1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <title>Your Portfolio</title>
    <style>
      /* Additional custom styles can be added here */
    </style>
  </head>

  <body class="font-semibold">
    <div id="app">
      <!-- Navbar -->
      <nav class="p-4 text-black" style="background-color: #F1F5FF">
        <div class="flex items-center justify-between lg:mx-10 lg:mt-10">
          <a href="index.html" class="flex flex-row">
            <img src="images/cool_julius1.png" alt="Your Logo" class="lg:h-12 h-10 rounded-full">
            <span class="my-2 md:ml-8 ml-2 md:text-3xl logo">J B Design — 23</span>
          </a>
   <!--        <div>
            <img src="images/Goldappel Design Logo.png" alt="Your Logo" class="lg:h-12 h-6">
          </div> -->
          <div class='wrap'>
            <div class='fill-wrap'>
              <a href='index.html' class='md:p-4 p-2 md:text-2xl md:font-semibold'>HOME</a>
            </div>
          </div>
        </div>
      </nav>

      <section class="md:pt-20 md:px-20 lg:px-0 md:-mt-20" id="hero-section">
        <div class="hero-image overflow-hidden">
          <img src="images/rakeit.jpeg" alt="bia" class="aspect-video hero object-cover">
        </div>
        <div class="p-10 md:p-0">
          <div class="flex flex-row justify-between lg:px-20 mb-10">
            <h1 class="md:text-2xl text-lg md:my-10 mb-6">Livecode Community</h1>
            <h2 class="md:text-2xl text-lg md:my-10 text-gray-500 text-right">Full Stack Web Development</h2>
          </div>
          <p class="lg:px-20 md:text-justify md:text-lg">
            <a href="https://www.lewagon.com/de/berlin" target="_blank" class="link-styles">LeWagon Bootcamp for Full Stack Web Development</a>
            is a 10 week intensive
            coding course that teaches participants the basics of Web Development including conceptualization, design, front- and
            backend development. Having already had experience with frontend development and a basic knowledge of HTML & CSS, I
            decided it was time to take my coding skills to the next level and learn more about what happens in the background.
            <br><br> As the final project of the bootcampt my idea was to create a platform to fix the very problem that every
            person learning to code is confronted with on a daily basis. Who can I ask when I don't know the answer to a coding
            problem? The solution was <code>Livecode Community</code>, a platform enabling aspiring coders to post their specific
            coding problems and enter into a video chat with someone who knows the solution.</p>
        </div>
      </section>

      <!-- Project Showcase Section -->
      <section class="md:px-20 px-10 " id="project-showcase-section">
        <h2 class="md:text-2xl text-xl mt-10 md:mb-2 md:hidden">Our Product Development Journey</h2>
        <div class="md:my-20 my-10 md:pt-20 scrollbar-hide scroll-container md:flex">

          <div class="md:mr-20 mb-20 horizontal-scroll inline-block first">
            <h2 class="md:text-2xl md:mb-10">The Homepage</h2>
            <hr class="border-t border-black md:hidden mb-10">
            <div class="project-image-udo overflow-hidden flex justify-center md:mb-20 mb-8">
              <img src="images/ticket_home.png" alt="bia" class="md:w-full md:h-full md:object-cover">
            </div>
            <p class="whitespace-normal md:text-lg">Upon registering as a user by signing up with your email and chosen
              password, the first thing you see is the ticket homepage showing you all the existing tickets from other users.
              Color coding indicates the status of every ticket - green indictating open tickets, orange for tickets in progress
              and white for tickets who have already been answered and are therefore closed. The <code>search bar</code> at the top makes it
              possible to search all existing tickets to check if your specific question might already have been answered.
            </p>
          </div>
          <div class="md:mr-20 mb-20 horizontal-scroll inline-block second">
            <h2 class="md:text-2xl md:mb-10">Creating your own Request</h2>
            <hr class="border-t border-black md:hidden mb-10">
            <div class="project-image-udo overflow-hidden flex justify-center md:mb-20 mb-8">
              <img src="images/raise_ticket.png" alt="bia" class="w-full h-full object-cover">
            </div>
            <p class="whitespace-normal md:text-lg">If you had a go checking the existing requests but didn't find what
              you are looking for, then it's time to <code>raise your own ticket</code> and creating your own request. Upon doing
              that you have to give your request a title, a proper description and choose the languages that relate to your current
              problem. Once you've inputted all the necessary information it ist time to hit the <code>Create Ticket</code> button
              and wait for an expert to accept your request! </p>
          </div>
          <div class="md:mr-20 mb-20 horizontal-scroll inline-block third">
            <h2 class="md:text-2xl md:mb-10">Video Call & Screen Sharing</h2>
            <hr class="border-t border-black md:hidden mb-10">
            <div class="project-image-udo overflow-hidden md:mb-20 mb-8">
              <img src="images/video-call_demo.png" alt="bia" class="object-cover w-full">
            </div>
            <p class="whitespace-normal md:text-lg">Once someone accepted your ticket you will receive a notification in
              your messages tab and you can answer that person in the chat. Once you have established, that your expert is ready
              and has time to explain to you how to solve the problem, you can both <code>hop on a video call</code> and speak to each other live.
              Additionally you can also <code>share your own screen</code> with the other person to show your code and make sure they understand
              the details of your specific problem. </p>
          </div>
          <div class="horizontal-scroll inline-block last">
            <h2 class="md:text-2xl md:mb-10">Profiles & Reviews</h2>
            <hr class="border-t border-black md:hidden mb-10">
            <div class="project-image-udo overflow-hidden md:mb-20 mb-8">
              <img src="images/profile_centered.png" alt="bia" class="w-full object-cover">
            </div>
            <p class="whitespace-normal md:text-lg">Once you've fixed the coding problem and finished the call, it is time
              to leave your evaluation for the call through a review form. Another feature of the platform is the possibility to look
              at other <code>users profiles</code> and see their past <code>reviews</code> to determine wether you would like to accept help from them
              or not. Profiles include a name, short description, a changeable profile picture and reviews from past tickets in a
              five-star rating format.
            </p>
          </div>
        </div>

      </section>

      <!-- Prototype Section -->
      <section class="md:p-20 p-10">
        <h2 class="md:text-2xl text-xl my-10">The Protoype Presentation</h2>
        <div class="video-container relative w-full mb-10">
          <img v-if="!showVideo" src="images/Presentation_thumbnail.png" alt="bia" class="thumbnail object-cover object-center w-full h-full absolute top-0 left-0 h-48" @click="playVideo">
          <iframe v-if="showVideo" :src="videoUrl" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen class="figma my-10 w-full h-auto">
          </iframe>
        </div>
        <p class="w-full inline-block md:text-lg">At the end of the program you get the chance to present your project in
          front of the whole batch. Here I want to take the opportunity and give many thanks to my great team members Luciano, Gesa & Chloe.
          We poured our heart and our sweat into this project from start to finish and were able to deliver something truly great!
        </p>
      </section>

   <!-- Social Media and Contact Section -->
   <section class="pb-20 px-4 flex flex-col relative items-center overflow-hidden justify-center" style="background-color: #F1F5FF">
    <div class="flex justify-center mt-32 h-24">
      <div class="h-16 w-16 m-4 p-2">
        <a href="https://www.figma.com/@jblezi" target="_blank" class="zoom text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-figma self-center text-sm"></i>
        </a>
      </div>
      <div class="h-16 w-16 m-4 p-2">
        <a href="https://dribbble.com/Goldappel" target="_blank" class="zoom text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-dribbble self-center text-sm"></i>
        </a>
      </div>
      <div class="h-16 w-16 m-4 p-2">
        <a href="https://github.com/JBlezi" target="_blank" class="zoom text-xl rounded-full border border-black h-12 w-12 flex justify-center">
          <i class="fab fa-github self-center text-sm"></i>
        </a>
      </div>
    </div>
    <p class="text-4xl md:text-6xl text-center my-16 z-10 font-light">Looking for a Web Developer?</p>
    <div class='wrap'>
      <div class='fill-wrap'>
        <a href='contact.html' class='btn btn-desert btn-b-t lg:text-4xl p-4 md:p-6 rounded-full'>GET IN TOUCH</a>
      </div>
    </div>

    <a href="#top" class="floating-btn z-30" v-if="currentSection !== 'hero-section'" id="floating-button">
      <i class="fas fa-chevron-up"></i>
    </a>

    <div class="hire-me">
      <p class="font-semibold">HIRE ME</h1>
    </div>
  </section>



    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue@3.2.21/dist/vue.global.js"></script>
    <script src="app.js" defer></script>

  </body>

</html>
