@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,400;0,700;1,300&family=Noto+Sans+SC:wght@300;400;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,400;0,700;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+SC:wght@300;400;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&family=Ubuntu:wght@300;500&display=swap');



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #F1F5FF;
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
}

.hire-me {
  font-size: 22vw;
  margin-bottom: -36%;
  opacity: 15%;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


/* .description {
  line-height: 180% !important;
} */

.slide-up {
  animation: slide-up 2s;
  font-size: 3rem;
}

.slide-up-2 {
  font-size: 1.5rem;
}

@keyframes slide-up {
  from {
    opacity: 0.2;
    line-height: 24rem;
  }
  to {
    opacity: 1;
    line-height: 8rem;
  }
}

.project-image-home {
  height: 30vh;
}

.project-image {
  position: relative;
  height: 30vh;
}

.overlay-image {
  height: 50vh;
}

.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 1s cubic-bezier(.2,-0.01,.02,.99);
  transform: translateX(100%);
}

.project-image:hover .overlay{
  transition: all 1s cubic-bezier(.2,-0.01,.02,.99);
  transform: translateX(0%);
}

.figma {
  height: 25vh;
  width: 100%;
}

.hero {
  height: 30vh;
}

@media only screen and (min-width: 500px) {
  .hire-me {
    margin-bottom: -22%;
    font-size: 20vw;
  }
}
@media only screen and (min-width: 900px) {
  section div {
    overflow: hidden; /* Hide any overflow content */
  }
  .project-image {
    height: 50vh !important;
  }

  .project-image img {
    height: 50vh;
    width: 100%;
  }

  .hero {
    height: auto;
  }

  .hire-me {
    margin-bottom: -18%;
  }
  .horizontal-scroll {
    width: 60vw;
  }
  .project-image-udo {
    height: 40vh !important;
  }
  .figma {
    height: 70vh;
    width: 100%;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .thumbnail {
    height: 70vh !important;
  }

  .video-container {
    height: 70vh !important;
  }

  .hero-image {
    height: 74vh;
  }

  .slide-up {
    font-size: 6rem;
  }

  .project-image-home {
    height: 50vh;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 200%;
    height: 100%;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1080px) {
  .hire-me {
    margin-bottom: -18%;
  }
}

.project-image-udo {

  background-color: #363D49;
}

.filli {
  display: inline-block;
  position:relative;
  overflow:hidden;
}

.filli::before {
  content:'';
  background: black;
  position:absolute;
  transform: translateY(150%);
  top:0;
  left:0;
  width: 100%;
  height:100%;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}
.filli:hover::before {
  z-index: 0;
  transform: translateY(0%);
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}

.filli:hover #button-text {
  color: white;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}

#button-text {
  z-index: 1;
  position: relative;
}

.floating-btn {
  position: fixed; /* Allows relative positioning within the parent */
  bottom: 20px;
  right: 20px;
  color: white;
 /*  border: 1px solid black; */
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: block; /* Hide the button by default */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Starting position and return to original position */
  }
  40% {
    transform: translateY(-10px); /* Bounce up */
  }
  60% {
    transform: translateY(-5px); /* Bounce down */
  }
}


.floating-btn:hover {
  animation: bounce 1s infinite; /* Apply the bounce animation on hover */
}

.zoom:hover i {
  font-size: 120%;
  transition: 0.15s ease-in;
  color: white;
}

.zoom {
  transition: 0.15s ease-in;
  transform-origin: center;
}

.zoom:hover {
  background-color: black;
  transition: 0.15s ease-in;
  transform: scale(1.2);
}

.zoom i {
  transition: 0.15s ease-in;
}

.thumbnail {
  height: 25vh;
  cursor: pointer;
}

.video-container {
  height: 25vh;
}

.scroll-container-2 {
  position: absolute;
  left: 0;
  top: 0;
}

.scroll-container {
  overflow-x: scroll;
  width: 100%;
  max-width: 100vw; /* Limit the width to the viewport width */
  box-sizing: content-box;
}

.horizontal-scroll {
  min-width: calc(50% - 40px);
}

.link-styles {
  color: red;
}

/* visited link */
.link-styles:visited {
  color: purple;
}

/* mouse over link */
.link-styles:hover {
  color: hotpink;
}

/* selected link */
.link-styles:active {
  color: blue;
}

/* CSS */
.overlay-box {
  position: relative;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust this based on the height of the banner */
  background-color: #F1F5FF; /* Match your page background color */
  z-index: 1000; /* A high value to ensure it's above other elements */
}

.grayscale {
  filter: grayscale(100%);
}






/* ------------------------------ */
/* ------- BUTTON STYLING ------- */
/* ------------------------------ */
/* ----------- Buttons ---------- */
.wrap {
  position: relative;
}


.fill-wrap {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.btn {
  overflow: hidden;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  border: 1px solid #fFF;
  text-align: center;
  z-index: 20;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}

.btn:hover {
  color: #fFF;
}

/* ----------- COLOURS ---------- */
.btn-desert {
  border-color: #222129;
  color: #222129;
}
.btn-desert::before, .btn-desert::after {
  background: #222129;
}

/* --------- BUTTON FILL -------- */
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}

.btn-r-l::after,
.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-r-l:hover::after,
.btn-l-r:hover::after {
  width: 100%;
}

.btn-t-b::after,
.btn-b-t::after {
  height: 0;
  width: 100%;
  left: 0;
  border-radius: 3px;
}

.btn-t-b:hover::after,
.btn-b-t:hover::after {
  height: 100%;
}

.btn-i-o::after,
.btn-i-o-r::after {
  height: 100%;
  top: 0;
  left: 50%;
  width: 0;
}

.btn-i-o:hover::after,
.btn-i-o-r:hover::after {
  left: 0;
  width: 100%;
}

.btn-i-o-r::after {
  border-radius: 80px;
}
.btn-i-o-r:hover::after {
  border-radius: 3px;
}

.btn-o-i:before, .btn-o-i:after {
  height: 100%;
  top: 0;
  width: 0;
}
.btn-o-i::before {
  left: 0;
}
.btn-o-i::after {
  right: 0;
}

.btn-o-i:hover::before,
.btn-o-i:hover::after {
  width: 50%;
}

.btn-l-r::after {
  left: 0;
}

.btn-r-l::after {
  right: 0;
}

.btn-t-b::after {
  top: 0;
}

.btn-b-t::after {
  bottom: 0;
}

.btn-l-r-r {
  border-radius: 30px;
}
.btn-l-r-r:hover::after, .btn-l-r-r:hover {
  border-radius: 50px;
  background: #222129;
}/*# sourceMappingURL=main.css.map */
